{% extends "::base.html.twig" %}
{% block title %}HighFive{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/css.css') }}" rel="stylesheet">
    <link href="{{ asset('css/css_002.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div id="page-content"> <!-- open left menu content -->
        <div class="openLeft-menu">
            <div class="container">
                <div class="row">
                    <div class="left-menu-content">
                        <div class="col-md-3 col-sm-5"><img src="{{ asset('images/bone.jpg') }}" alt="user-photo"
                                                            class="img-circle">
                            <h1><span class="lehi">puritanism</span> <b>Meniu</b></h1>
                            <ul class="list-unstyled menu-list">
                                <li><a href="#">Spręsti testą</a>
                                    <p class="frow">noninvincibility</p><span class="sown">semeiotic unradical</span>
                                </li>
                                <li><a href="#">Peržiūrėti testą</a>
                                    <p class="kiwi">thiobacilli</p><span class="fitz">preeliminate overdelicious</span>
                                </li>
                                <li><a href="#">Dėlioti skeletą</a>
                                    <p class="lefty">hematocyst</p><span class="poll">overenvious nonexertion</span>
                                </li>
                            </ul>
                            <ul class="list-unstyled social-links">
                                <li><a href="#">Peržiūrėti profilį</a>
                                    <p class="kiwi">annexationism</p><span class="lefty">nonaculeate isohyetal</span>
                                </li>
                                <li><a href="#">Redaguoti profilį</a>
                                    <p class="bura">exorability</p><span
                                            class="fitz">aristodemocracy hypognathism</span>
                                </li>
                                <li><a href="#">Atsijungti</a>
                                    <p class="lefty">overpreoccupy</p><span
                                            class="classy">effigiated unmilitarised</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.open left menu content --> <!-- header content -->
        <header> <!-- top navbar with right menu hamburger -->
            <nav class="navbar navbar-left">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-2">
                            <button class="menu-left pull-left"><span></span><span></span><span></span></button>
                        </div>
                        <div class="col-md-8"><a href="http://rt.md/pdojo/template/home_2.html"
                                                 class="navbar-brand"></a>
                            <p class="lefty">autointoxication</p><span class="bura">overreflective monotrichic</span>
                        </div>
                        <div class="col-md-2">
                            <form action="#" class="form-inline"><input id="top-search" placeholder="Search"
                                                                        type="search">
                                <label for="top-search"><span class="icon-magnifying-glass"></span><span class="divc">overdelicious</span></label>
                            </form>
                        </div>
                    </div>
                </div>
            </nav> <!-- /.top navbar with right menu hamburger -->
            <!-- boxed slider with progress-bar and zoom effect-->
            <div class="container">
                <div id="boxed-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- carousel progress bar -->
                    <div class="progress-bar-bg">
                        <div class="carousel-progress-bar" style="width: 2%;"></div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item element">
                            <div class="zooming" data-bg="images/bone_header.jpg" style="background-image: url("{{ asset('images/slide-8.jpg') }}");"></div>
                            <div class="carousel-caption text-capitalize">
                                <h1><b>HighFive</b>
                                    <br>
                                    <span>Skeletas</span><span class="mydiv">vindicated</span> </h1>
                                <a href="#" class="btn btn-link">Spręsti testą</a><p class="poll">detribalise</p>
                                <span class="bura">nonglobular supraorbital</span> </div>
                        </div>
                        <div class="item element active left">
                            <div class="zooming" data-bg="images/bone_header2.jpg" style="background-image: url("{{ asset('images/slide-5.jpg') }}");"></div>
                            <div class="carousel-caption text-capitalize">
                                <h1><b>HighFive</b>
                                    <br>
                                    <span>Skeletas</span><span class="vice">zaporozhye</span> </h1>
                                <a href="#" class="btn btn-link">Peržiūrėti testą</a><p class="classy">autointoxication</p>
                                <span class="lefty">effigiated electively</span> </div>
                        </div>
                        <div class="item element next left">
                            <div class="zooming" data-bg="images/bone_header3.jpg" style="background-image: url("{{ asset('images/slide-4.jpg') }}");"></div>
                            <div class="carousel-caption text-capitalize">
                                <h1><b>HighFive</b>
                                    <br>
                                    <span>Skeletas</span><span class="coma">sclerophylly</span> </h1>
                                <a href="#" class="btn btn-link">Dėlioti skeletą</a><p class="kiwi">detoxicated</p>
                                <span class="fitz">bathymetry nontheocratical</span> </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- /.boxed slider with progress-bar -->
    </header> <!-- /.header content -->
    <!-- main page content -->
    <main class="main-content">
        <div class="container"> <!-- about photographer -->
            <div class="row">
                <div class="col-md-12">
                    <div class="description text-capitalize fullWidth"><img src="{{ asset('images/man.jpg') }}"
                                                                            alt="user-photo" class="img-circle">
                        <h1><span>I'm</span><span class="kiwi">photoengrave</span> <b>Peter Joe</b>
                            <span>I Love</span><span class="vice">hagiolatry</span> <b>Photography &amp; Bikes</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <div class="description"><p>
                            Took my first photo at 5 years with my mom, who is also a passionate
                            photographer. She was the one who inspired me and got going on this long
                            road. </p>
                        <p class="fitz">conclusiveness</p><span class="frow">paulownia rationalizing</span><span
                                class="vice">voroshilovsk</span></div>
                </div>
                <div class="col-md-offset-1 col-md-6 col-sm-6">
                    <div class="description"><p> Over 30 years passed &amp; I am still in love with what I do. </p>
                        <p class="poll">swahilian</p><span class="sown">swahilian vectorially</span><span
                                class="bura">deoxygenate</span>
                        <a href="http://rt.md/pdojo/template/about.html" class="btn btn-link">Find out more about
                            me</a>
                        <p class="frow">hagiolatry</p><span class="poll">overneutralized sclerophylly</span></div>
                </div>
            </div> <!-- about photographer --> <!-- blog-intro -->
            <div class="row blog-intro">
                <hr class="separator">
                <div class="col-md-3">
                    <div class="description"><h1><span>Lates</span><span class="divc">unfugitive</span>
                            <b>Stories</b>
                        </h1>
                        <hr>
                        <a href="http://rt.md/pdojo/template/blog.html" class="btn-link">Go to Blog</a>
                        <p class="poll">neronizing</p><span class="frow">peculiarized lovableness</span></div>
                </div>
                <div class="col-md-3 col-sm-4"><a
                            href="http://rt.md/pdojo/template/portfolio_item_standard_post.html"
                            class="post-intro">
                        <div class="post-bg" data-bg="images/blog_1.jpg"
                             style="background-image: url(" images
                        /blog_1.jpg");"></div>
                <span class="blog-title btn-link text-capitalize">standard blog post</span><span
                        class="mydiv">estimably</span>
                <time>24 Aug 2016</time>
                </a>
                <p class="frow">bipinnaria</p><span class="lefty">metrically endamagement</span></div>
            <div class="col-md-3 col-sm-4"><a href="http://rt.md/pdojo/template/blog_post_full_width.html"
                                              class="post-intro">
                    <div class="post-bg" data-bg="images/blog_2.jpg"
                         style="background-image: url(" images
                    /blog_2.jpg");"></div>
            <span class="blog-title btn-link text-capitalize">Video type blog post</span><span
                    class="frow">vindicated</span>
            <time>03 Sept 2016</time>
            </a>
            <p class="poll">supraorbital</p><span class="poll">hyperelegance overwetted</span></div>
        <div class="col-md-3 col-sm-4"><a href="http://rt.md/pdojo/template/blog_post_full_width.html"
                                          class="post-intro">
                <div class="post-bg" data-bg="images/blog_3.jpg"
                     style="background-image: url(" images
                /blog_3.jpg");"></div>
        <span class="blog-title btn-link text-capitalize">Full width blog post</span><span
                class="libeled">ferrovanadium</span>
        <time>24 Oct 2016</time>
        </a>
        <p class="lehi">preobligating</p><span class="poll">matteotti virility</span></div>
        </div> <!-- /.blog-intro --> <!-- testimonials -->
        <div class="row testimonials-section">
            <hr class="separator">
            <div class="col-md-3">
                <div class="description text-capitalize"><h1><span>What clients</span><span
                                class="frow">nonexplicable</span>
                        <b>think &amp;say </b></h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-9">
                <div id="testimonial-carousel" class="carousel slide" data-ride="carousel"> <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#testimonial-carousel" data-slide-to="2" class=""></li>
                    </ol> <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item testimonial active">
                            <div class="carousel-content"><img src="{{ asset('images/man2.jpg') }}" alt="user-photo"
                                                               class="img-circle pull-left">
                                <div class="text-content pull-right"><p>
                                        Expected Pete to be good, but he definetely exceeded expectations. He
                                        was even better. And the results are amazing! I highly recommend him if
                                        you want to sell your products. Within one week he managed to provide us
                                        with photos for all our shop’s bikes stock! </p>
                                    <p class="mydiv">revalidation</p><span
                                            class="bura">noninflammable undermelody</span><span
                                            class="lefty">pinguidity</span>
                                    <h4 class="text-capitalize">John smith</h4> <span class="text-capitalize">Moto shop manager</span><span
                                            class="coma">voroshilovsk</span></div>
                            </div>
                        </div>
                        <div class="item testimonial">
                            <div class="carousel-content"><img src="{{ asset('images/girl1.jpg') }}" alt="user-photo"
                                                               class="img-circle pull-left">
                                <div class="text-content pull-right"><p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
                                        perferendis tenetur, aperiam nulla enim non cupiditate eaque modi iure.
                                        Delectus error quo molestias possimus omnis magni. </p>
                                    <p class="poll">supraorbital</p><span
                                            class="vice">euphemia subeditorial</span><span
                                            class="kiwi">prepenetration</span>
                                    <h4 class="text-capitalize">Barbara Tohatin</h4> <span
                                            class="text-capitalize">Co-Founder adobe</span><span
                                            class="divc">undermeasured</span></div>
                            </div>
                        </div>
                        <div class="item testimonial">
                            <div class="carousel-content"><img src="{{ asset('images/man.jpg') }}" alt="user-photo"
                                                               class="img-circle pull-left">
                                <div class="text-content pull-right"><p> Maiores accusamus consequatur eos
                                        labore
                                        autem porro, quos minus, praesentium quasi. </p>
                                    <p class="divc">biedermeier</p><span
                                            class="frow">sanguinolency appendices</span><span
                                            class="bura">preinsertion</span>
                                    <h4 class="text-capitalize">Leonardo Sparrow</h4> <span
                                            class="text-capitalize">Client</span><span
                                            class="lefty">bipartisanship</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.testimonials --> <!-- instagram feed -->
        <div class="row instagram-section">
            <hr class="separator">
            <ul class="list-inline instagram-feed">
                <li class="col-md-2 col-sm-4"><a href="#"><img src="{{ asset('images/insta1.jpg') }}" alt="user-photos"
                                                               class="img-responsive"></a>
                    <p class="lehi">superadornment</p><span class="bura">supraorbital aluminosilicate</span>
                </li>
                <li class="col-md-2 col-sm-4"><a href="#"><img src="{{ asset('images/insta2.jpg') }}" alt="user-photos"
                                                               class="img-responsive"></a>
                    <p class="frow">bipartisanship</p><span class="frow">unobsolete actiniae</span></li>
                <li class="col-md-2 col-sm-4"><a href="#"><img src="{{ asset('images/insta3.jpg') }}" alt="user-photos"
                                                               class="img-responsive"></a>
                    <p class="classy">overdiscouraging</p><span class="frow">unexcogitative nonallegation</span>
                </li>
                <li class="col-md-2 col-sm-4"><a href="#"><img src="{{ asset('images/insta4.jpg') }}" alt="user-photos"
                                                               class="img-responsive"></a>
                    <p class="poll">nonponderous</p><span class="vice">neogean sanguinolency</span></li>
                <li class="col-md-2 col-sm-4"><a href="#"><img src="{{ asset('images/insta5.jpg') }}" alt="user-photos"
                                                               class="img-responsive"></a>
                    <p class="lefty">crystallographical</p><span class="divc">americium gloriousness</span></li>
                <li class="col-md-2 col-sm-4"><a href="#"><img src="{{ asset('images/insta6.jpg') }}" alt="user-photos"
                                                               class="img-responsive"></a>
                    <p class="mydiv">autointoxication</p><span class="frow">tonsillotomy unsegregated</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12"><a href="#" class="btn-link">Follow me on instagram</a>
                <p class="vice">realterableness</p><span class="libeled">nontheocratical thioester</span> <span
                        class="pull-right user-name">@petephotomoto</span><span
                        class="lehi">undersaturated</span>
            </div>
        </div> <!-- instagram feed --> <!-- shop intro -->
        <div class="row shop-intro">
            <hr class="separator">
            <div class="col-md-3">
                <div class="description"><h1><span>Shop</span><span class="bura">overdelicious</span>
                        <b>Highlights</b></h1>
                    <hr>
                    <a href="http://rt.md/pdojo/template/store.html" class="btn-link text-capitalize">Go
                        <span>to my</span><span class="vice">pithecanthropid</span> print shop</a>
                    <p class="coma">pinguidity</p><span class="lefty">nontheocratical hospitaler</span></div>
            </div>
            <div class="col-md-9">
                <div class="product-blk">
                    <div class="product-bg pull-left" data-bg="images/demo_product.jpg"
                         style="background-image: url(" images
                    /demo_product.jpg");">
                </div>
                <div class="product-description"><h1 class="text-capitalize"> a perfect print title <span
                                class="pull-right price">$4<sup>.99</sup></span><span class="lefty">semeiotic</span>
                    </h1>
                    <p> From time to time I get my hands into creating nice decorative illustrations which
                        would
                        look good on your wall. </p>
                    <p class="lehi">apsarases</p><span class="libeled">mediatise interantagonism</span><span
                            class="lefty">semeiotic</span> <a
                            href="http://rt.md/pdojo/template/store_item.html"
                            class="btn-link text-capitalize">View details</a>
                    <p class="classy">tonsillotomy</p><span class="lefty">apsarases overenvious</span></div>
            </div>
        </div>
        </div> <!-- /.shop intro --> </div>
    </main> <!-- /.main page content --> <!-- footer content -->
    <footer>
        <div class="container"> <!-- copyright -->
            <div class="copyright"><span>© 2016. Theme by <a href="http://www.themesdojo.com/">Themes Dojo</a><p
                            class="coma">reapplying</p><span
                            class="libeled">inexorable diakonikon</span></span><span
                        class="classy">truculently</span>
                <button class="pull-right scrollUp btn-link">Go to the top of the page</button>
            </div> <!-- /.copyright --> </div>
    </footer> <!-- /.footer content --> </div> <!-- end of magic :-) -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.js') }}"></script> <!-- Plugins we use -->
    <script src="{{ asset('js/plugins.js') }}"></script> <!-- Functions -->
    <script src="{{ asset('js/main.js') }}"></script>
    <p></p>
    <p class="bura">superadornment</p><span class="divc">superinfirmity estimably</span><span class="mydiv">inapproachability</span>
    <span
            class="classy">subeditorial</span>
    <p class="frow">controversial</p><span class="sown">unengineered mediatise</span>
{% endblock %}