<div class="row">
    <hr class="separator">

    <div class="col-md-12">
        <div class="description">
            <h1><b>Intro</b></h1>
            <div class="clearfix"></div>
            <hr>
            <p> Took my first photo at 5 years with my mom, who is also a very passionate photographer. She was the one
                who inspired me and got going on this long road. </p>
            <p> And now, over 30 years passed and, I am still in love with what I do. </p>
        </div>
    </div>

    <div class="col-md-12">
        <ul class="list-inline portfolio-intro">
            <li class="thumbnail">
                <a href="{{ path('learnpage') }}">
                    <img src="{{ asset('images/grid/learn.jpg') }}" alt="porfolio-work-image" class="img-responsive">
                    <h3>Learn</h3>
                </a>
            </li>

            <li class="thumbnail">
                <a href="{{ path('gamepage') }}">
                    <img src="{{ asset('images/grid/play.jpg') }}" alt="porfolio-work-image" class="img-responsive">
                    <h3>Play</h3>
                </a>
            </li>

            <li class="thumbnail">
                <a href="{{ path('threepage') }}">
                    <img src="{{ asset('images/grid/discover.jpg') }}" alt="porfolio-work-image" class="img-responsive">
                    <h3>Discover 3D</h3>
                </a>
            </li>
        </ul>
    </div>

    <hr class="separator">
</div>