{% extends "::base.html.twig" %}

{% block title %}{% trans %}Learn{% endtrans %} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <hr class="separator">
        <div class="col-md-12">
            <div class="description">
                <h1><b>{% trans %}Learning mode{% endtrans %}</b></h1>
                <div class="clearfix"></div>
                <hr>
                <p>{% trans %}In the learning mode you can click on the desired bone and see a brief description.{% endtrans %}</p>
            </div>
            <hr class="separator">
        </div>
    </div>

    <div class="canvas-container">
        <canvas id="canvas" width="100%" height="500"></canvas>

        <div id="popover" class="popover">
            <div class="title"></div>
            <div class="description"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script language="javascript">
        var bonesImagesBaseDir = "{{ asset('images/bones/') }}";

        var canvasType = "{{ type }}";

        // TEMP
        var bonesJsonDir = "{{ asset('js/bones.json') }}";
    </script>
{% endblock %}
