<div class="fullscreen-menu">
    <div class="container">
        <div class="row">
            <div class="menu-content">
                <div class="col-md-3 col-sm-4">
                    <h1><b>{% trans %}Menu{% endtrans %}</b></h1>
                </div>

                <div class="col-md-offset-1 col-md-2 col-sm-4">
                    <ul class="list-unstyled menu-list">
                        <li><a href="{{ path('homepage') }}">{% trans %}Home{% endtrans %}</a></li>
                        <li><a href="{{ path('learnpage') }}">{% trans %}Learn{% endtrans %}</a></li>
                        <li><a href="{{ path('gamepage') }}">{% trans %}Test Your Knowledge{% endtrans %}</a></li>
                        <li><a href="{{ path('threepage') }}">{% trans %}Discover 3D{% endtrans %}</a></li>
                    </ul>
                </div>

                <div class="col-md-offset-2 col-md-4 col-sm-4">
                    <ul class="list-unstyled social-links">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Profile{% endtrans %}</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">{% trans %}Profile Edit{% endtrans %}</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">{% trans %}Change Password{% endtrans %}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Login{% endtrans %}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Register{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>