{% extends "::base.html.twig" %}

{% block title %}{% trans %}Discover 3D{% endtrans %} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div id="ThreeJs" class="three-container half-size">
                <div id="preloader">
                    <div id="preloader-ele" class="ball-scale-ripple-multiple">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="description">
                <h1 id="bone-title"><b></b></h1>
                <div class="clearfix"></div>
                <hr>
                <p id="bone-latin">
                    <b>{% trans %}Latin:{% endtrans %}</b> <span>{% if bone.latin is defined %}{{ bone.latin }}{% endif %}</span>
                </p>
                <p id="bone-type">
                    <b>{% trans %}Type:{% endtrans %}</b> <span>{% if bone.type is defined %}{{ bone.type }}{% endif %}</span>
                </p>
                <p id="bone-description">
                    <b>{% trans %}Description:{% endtrans %}</b> <span>{% if bone.description is defined %}{{ bone.description }}{% endif %}</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script language="javascript">
        var bonesModelsBaseDir = "{{ asset('/models/') }}";

        var boneId = {{ bone.id }};

        // TEMP
        var boneJsonDir = "{{ asset('js/bones.json') }}";
    </script>
{% endblock %}